
<% @contacts.each do |contact| %>
    <p class = "contacts"> <%= contact.first_name %> <%= contact.last_name %> <%= contact.email%></p>
  <% end %>

  <!-- <% @contacts.each do |contact| %>
      <p> <%= contact.first_name %> <%= contact.last_name %> <%= contact.email%> <%=contact.note%></p>
    <% end %> -->
